<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\App\FrontControllerInterface" type="Training\Unit2\App\FrontController" />

    <type name="Training\Unit2\Controller\Product\View">
        <plugin name="product-view-controller-plugin" type="Training\Unit2\Plugin\Controller\Product\View" sortOrder="10"/>
    </type>

    <preference for="Magento\Catalog\Controller\Product\View" type="Training\Unit2\Controller\Product\View" />

    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="class" xsi:type="string">Training\Unit2\Controller\NoRouteHandler</item>
                    <item name="sortOrder" xsi:type="string">200</item>
                </item>
            </argument>
        </arguments>
    </type>
    
</config>